<div class="comment-root">
  <div class="commenter"><h><%= comment.user.email %></h>
    - <small><%= time_ago_in_words(comment.created_at) %> ago</small>
  </div>
  <%= comment.body %>

  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
  <% end %>

  <div class="comment-child">
    <% comment.comments.each do |comment|%>
        <div class="commenter"><h><%= comment.user.email %></h>
          - <small><%= time_ago_in_words(comment.created_at) %> ago</small>
        </div>
        <%= comment.body %>
    <% end %>
  </div>
</div>
