<div class="post-wrap">
  <div class="main-wrap">
    <div class="post">
      <div class="title">
        <%= @photo.title %>
      </div>
      <div class="image">
        <%= image_tag @photo.image.url %>
      </div>
      <div><%= @photo.get_upvotes.size %> points</div>
      <div class="post-function">
        <ul>
          <li>
          <%= link_to like_photo_path(@photo),
                      class: "glyphicon glyphicon-chevron-up", method: :put do %>
          <% end %>
          </li>
          <li>
            <%= link_to dislike_photo_path(@photo),
                        class: "glyphicon glyphicon-chevron-down", method: :put do %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="comment-wrap">
      <div class="comment-form">
        <%= form_for [@photo, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Add a comment" %><br/>
            <%= f.submit "Reply" %>
        <% end %>
      </div>
      <div class="comment-list">
        <%= render(partial: 'comments/comment', collection: @photo.comments) %>
      </div>
    </div>
  </div>
  <div class="side-wrap">
    <%= render "layouts/sidewrap" %>
  </div>
</div>
