<!DOCTYPE html>
<html>
  <head>
    <title>Ninegag</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="header">
    <nav class="navigation top-bar fixed">
      <ul>
        <li><a href="#logo">9</a></li>
        <li><a href="#hot">Hot</a></li>
        <li><a href="#treding">Trending</a></li>
        <li><a href="#fresh">Fresh</a></li>
        <li><a href="#more">More</a></li>
        <li style="float:right">
        <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete do %>
                Logout
            <% end  %>
        <% else %>
            <%= link_to new_user_session_path do %>
               Login
            <% end  %>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
    <%= yield %>
  </body>
</html>
